---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I strongly value my role as an educator and as a mentor of more junior scientists. As a graduate student at Yale University, I served as a teaching fellow for introductory and intermediate courses in evolutionary biology, as well as for a field course on limnology. I was also given ample opportunity to work with a diverse set of undergraduate students in Thomas J. Near's lab, all with minimal or no background in benchwork or computational methods. My experiences have increased my patience, enhanced my problem-solving skills, improved my own research methods, and taught me how to see and approach tasks from different perspectives. Despite the challenges that inevitably come up, generating an interest in evolutionary biology, genomics, and data science, and guiding students towards becoming confident and capable scientists is genuinely among what I most enjoy about being in academia.

------
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
